body {
  font-family: "Roboto Condensed", sans-serif;
  background: #a5c9ca;
  color: #2c3333;
}

.container {
  width: 70%;
  margin: 0 auto;
}

p {
  font-size: 25px;
}

.footnote {
  font-size: 12px;
}

.card {
  border: 0px;
}

.weather-icon {
  width: 50px;
}

i,
span {
  font-size: 30px;
  color: #395b64;
}

button {
  color: #fdfdbd;
}
