body {
  font-family: "Roboto Condensed", sans-serif;
  color: #2c3333;
}

.container {
  width: 70%;
  margin: 20px auto;
  background: #e7f6f2;
  padding: 20px;
  border-radius: 20px;
  min-width: 650px;
}

p {
  font-size: 20px;
}

.footnote {
  font-size: 12px;
  text-align: center;
}

.card {
  border: 0px;
  border-radius: 20px;
  background: #a5c9ca;
  text-align: center;
  margin-bottom: 10px;
}
.card:hover {
  background: #96bcbd;
}

.card-body {
  font-size: 25px;
}

.weather-icon {
  width: 50px;
}

.units {
  font-size: 22px;
}

#current-date {
  text-align: right;
  margin: 0px;
  line-height: 46px;
}

.max-temp {
  font-weight: bold;
}

div.weather span {
  font-size: 30px;
  color: #395b64;
}

button {
  color: #fdfdbd;
}

h1 {
  padding-bottom: 15px;
}
